!!! 5
%html
  %head
    %title Ionic on Rails
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui")
    = stylesheet_link_tag 'desktop', media: 'all'
    = csrf_meta_tags

  %body

    = yield

    = javascript_include_tag 'desktop'
    = yield :on_load
