.container-fluid
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      #login-container.center-block
        %h2 Sign in

        = form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form', html: { class: 'login' }) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control', autofocus: true

          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control', autocomplete: "off"

          - if devise_mapping.rememberable?
            .checkbox
              = f.label :remember_me do
                = f.check_box :remember_me
                Remember me

          = f.submit "Sign in", class: 'btn btn-default'

        %br
        = render "devise/shared/links"
